<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
    <a class="navbar-brand" [routerLink]='["/home"]' href="#">Angular Project</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div id="navbarNavDropdown" class="navbar-collapse collapse">
      <ul class="navbar-nav mr-auto">
        <li [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]='{ exact: true }'>
          <a class="nav-link" [routerLink]='["/UserMgmt"]' routerLink="UserMgmt">
            User Management
          </a>
        </li>
        <li class="nav-item">
          <!--<a class="nav-link" [routerLink]='["contact-us"]' href="contact-us">Create Ticket</a>-->
          <a class="nav-link" [routerLink]='["/modules"]' routerLink="modules">Employee Management</a>
        </li>
      </ul>
      <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" (click)="LogOut()" >LogOut</a>
          </li>
        </ul>
    </div>
  </nav>
  
  