.dropdown:hover > .dropdown-menu {
    display: block;
  }
  
  .dropdown-menu {
    background-color: #343a40;
    color: #ffffff;
  }
  
    .dropdown-menu a {
      color: #ffffff;
    }
  
  .dropdown > .dropdown-toggle:active {
    /*Without this, clicking will make it sticky*/
    pointer-events: none;
  }
  
  .dropdown .dropdown-menu a:hover {
    color: #fff;
    background-color: #b91773;
    border-color: #fff;
  }
  