<div class="card" style="margin:10px;">
        <div class="card-header">
                User Details for login  
        </div>
        <div class="card-body">
                <form novalidate (ngSubmit)="save(LoginForm)"  #LoginForm="ngForm" autocomplete="off">
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label for="userId" class="control-label">
                                        User Id
                                    </label>
                                    <input class="form-control" id="userId" type="text" placeholder="Enter User Id"
                                    required [(ngModel)]=userModel.UserId name="UserId" #UserIdVar="ngModel"
                                    [ngClass]="{'is-invalid': (UserIdVar.touched || UserIdVar.dirty) && !UserIdVar.valid }" />
                                    <span class="invalid-feedback">
                                        <span *ngIf="UserIdVar.errors?.required">
                                        Please enter user Id.
                                        </span>
                                    </span>
                                </div>
                            </div>   
                                           
                        </div>
                    <!-- password -->
                    <div class="row">
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label for="password" class="control-label">
                                       Password
                                    </label>
                                    <input class="form-control" id="Password" type="text" placeholder="Enter password"
                                    required [(ngModel)]=userModel.Password name="Password" #passwordVar="ngModel"
                                    [ngClass]="{'is-invalid': (passwordVar.touched || passwordVar.dirty) && !passwordVar.valid }" />
                                    <span class="invalid-feedback">
                                        <span *ngIf="passwordVar.errors?.required">
                                        Please enter password.
                                        </span>
                                    </span>
                                </div>
                            </div>                   
                        </div>
                        <!-- submit button -->
                        <div class="row">
                                <div class="col-sm-3">
                                    <button class="btn btn-primary mr-3" type="submit" style="width:80px;margin-top: 33px;"  [disabled]="!LoginForm.valid">Login</button>
                                </div>
                        </div>
                </form>
        </div>
</div>